a {
    font-size: 2rem;
    font-weight: 900;
}

body {
    height: 100vh;
    background-color: black;
}

.bodySplash {
    background: url("../images/headsup_bg.jpg") no-repeat center center;
    background-size: cover;
}

.border-white {
    border-width: 25px !important;
}

.btn-lg {
    padding: .66rem 1rem;
}

.btn-warning {
    background: #ffdf44 !important;
    box-shadow: 3px 3px #333;
    font-weight: 900;
    margin-bottom: 10px;

}

.container-fluid {
    padding: 15px 15px 15px 15px !important;
}

.contentWrapMenu {
    background-color: #10756f;
    background:
            linear-gradient(27deg, #10756f 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #10756f 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #127f76 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #127f76 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #117772 10px, transparent 10px),
            linear-gradient(#10756f 25%, #10756f 25%, #10756f 50%, transparent 50%, transparent 75%, #127f76 75%, #127f76);
    background-color: #10756f;
    background-size: 20px 20px;
    height: 90vh;
}

.contentWrap {
    background-color: #10756f;
    background:
            linear-gradient(27deg, #10756f 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #10756f 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #127f76 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #127f76 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #117772 10px, transparent 10px),
            linear-gradient(#10756f 25%, #10756f 25%, #10756f 50%, transparent 50%, transparent 75%, #127f76 75%, #127f76);
    background-color: #10756f;
    background-size: 20px 20px;
    height: 90vh;
}

.contentWrapCorrect {
    background-color: #8fcdcc;
    background:
            linear-gradient(27deg, #8fcdcc 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #8fcdcc 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #96CDC3 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #96CDC3 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #94CDC8 10px, transparent 10px),
            linear-gradient(#8fcdcc 25%, #8fcdcc 25%, #8fcdcc 50%, transparent 50%, transparent 75%, #96CDC3 75%, #96CDC3);
    background-color: #8fcdcc;
    background-size: 20px 20px;
    height: 90vh;
}

.contentWrapPass {
    background-color: #fae177;
    background:
            linear-gradient(27deg, #fae177 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #fae177 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #FAEC85 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #FAEC85 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #FAE47B 10px, transparent 10px),
            linear-gradient(#fae177 25%, #fae177 25%, #fae177 50%, transparent 50%, transparent 75%, #FAEC85 75%, #FAEC85);
    background-color: #fae177;
    background-size: 20px 20px;
    old-background-color: #ffdb2c;
    height: 90vh;
}

.contentWrapGameOver {
    background-color: #c95d5d;
    background:
            linear-gradient(27deg, #c95d5d 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #c95d5d 5px, transparent 5px) 10px 0,
            linear-gradient(27deg, #C96864 5px, transparent 5px) 0 10px,
            linear-gradient(207deg, #C96864 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #C96060 10px, transparent 10px),
            linear-gradient(#c95d5d 25%, #c95d5d 25%, #c95d5d 50%, transparent 50%, transparent 75%, #C96864 75%, #C96864);
    background-color: #c95d5d;
    background-size: 20px 20px;
    height: 90vh;
}

.gameWrap {
    padding-top: 80px;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 3px 3px #333333;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px #333333;
}

h1,h2,h3,h4,h5,h6,p,a {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.hidden {
    display: none;
}

#player_score {
    font-size: 6rem;
    font-weight: bold;
}

#restartWrap {
    padding-top: 50px;
}

.rounded {
    border-radius:5rem !important;
}

#scoreHeader {
    border-bottom: 4px solid #ffffff;
    overflow: visible;
}

.wordScore {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px #333333;
}

#word {
    padding-left: 10px;
    padding-right: 10px;
}

.wordCorrect {
    color: #ffffff;
    font-size: 1.9rem;
}

.wordPass {
    color: #999999;
    font-size: 1.9rem;
}

.vertical-center {
    display: flex;
    min-height: 77%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 77vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

