
a {
    font-size: 2rem;
}

body {
    background-color: #000000;
}

.border-white {
    border-width: 25px !important;
}

.container-fluid {
    padding: 15px 15px 15px 15px !important;
}

.contentWrap {
    background-color: #6495ed;
    height: 90vh;
}

.gameWrap {
    padding-top: 80px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h1,h2,h3,h4,h5,h6,p,a {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}

.hidden {
    display: none;
}

.rounded {
    border-radius:5rem !important;
}

.vertical-center {
    display: flex;
    min-height: 77%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 77vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
